.button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px 0px #000;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform linear 100ms;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
}